langchain==0.1.9
langchain-community==0.0.25
langchain-core==0.1.28
langchain-text-splitters==0.0.1
langsmith==0.1.10
onnxruntime==1.17.1
opencv-python==4.6.0.66
tokenizers==0.15.1
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
xformers==0.0.24
pypdf==4.0.2
pdf2image==1.16.3
huggingface-hub==0.20.3
Flask==3.0.2
faiss-cpu==1.8.0
transformers==4.37.2
sentence-transformers==2.4.0
unstructured[local-inference]==0.5.12
watermark==2.3.1
tiktoken==0.3.3
qdrant-client==1.7.3
python-dotenv==1.0.1
onnxruntime==1.17.1
opencv-python==4.6.0.66
humanfriendly==10.0
bitsandbytes==0.42.0
nltk==3.8.1
