torch==2.2.1
qdrant-client==1.8.0
sentence-transformers==2.5.1
werkzeug==2.2.2
flask==2.1.0
langchain==0.1.12
langchain-core==0.1.32
langchain-text-splitters==0.0.1
bitsandbytes==0.43.0
accelerate==0.28.0