<!DOCTYPE html>
<!-- Coding By HieuT6 -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Demo_chatbot_STSV</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <!-- nút chat symbol -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <!-- nút send symbol -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- nút close symbol -->
    <script src="/static/app.js" defer></script>
  </head>
  <body>
    <h1>Demo_chatbot_STSV</h1>
    <br>
    <button class="chatbot-toggler"> 
      <span class="material-symbols-outlined">chat</span>
      <span class="material-symbols-outlined">close</span>
    </button>
    <div class="chatbot">
      <header>
        <h2>Chatbot</h2>
        <span class="close-btn material-symbols-outlined">close</span>
      </header>
      <ul class="chatbox">
        <li class="chat incoming">
          <span class="material-symbols-outlined">smart_toy</span>
          <p>Chào bạn <br>Mình có thể giúp đỡ gì cho bạn?</p>
        </li>
      </ul>
      <div class="chat-input">
        <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
        <span id="send-btn" class="material-symbols-rounded">send</span>
      </div>
    </div>

  </body>
</html>

<!-- 
  Note:
- chatbot-toggler: nút bật tắt chatbot

 -->